* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-date-range-picker {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 60px;
    background-color: #ffffff;
    margin: 30px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.custom-date-range-picker:hover {
    background-color: #fcfcfc;
}

.custom-date-range-picker .selected-date-range {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 22px;
    cursor: pointer;
}

.custom-date-range-picker .calendar-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.custom-date-range-picker .calendar-container.active {
    display: flex;
}

.custom-date-range-picker .calendar-container .calendar {
    width: 50%;
}

.custom-date-range-picker .calendar-container .calendar.left {
    margin-right: 10px;
}

.custom-date-range-picker .calendar-container .calendar.right {
    margin-left: 10px;
}

.custom-date-range-picker .calendar-container .calendar .nav {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
}

.custom-date-range-picker .calendar-container .calendar .nav .month {
    width: 100%;
    text-align: center;
}

.custom-date-range-picker .calendar-container .calendar.left .nav .month {
    padding-right: 1.7rem;
}

.custom-date-range-picker .calendar-container .calendar.right .nav .month {
    padding-left: 1.7rem;
}

.custom-date-range-picker .calendar-container .calendar .nav .arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.custom-date-range-picker .calendar-container .calendar .nav .arrow:hover {
    background-color: #f7f7f7;
}

.custom-date-range-picker .calendar-container .calendar .nav .arrow:active {
    background-color: #efefef;
}

.custom-date-range-picker .calendar-container .calendar .boxes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.custom-date-range-picker .calendar-container .calendar .boxes.dates {
    padding: 0 5px 5px 5px;
}

.custom-date-range-picker .calendar-container .calendar .boxes .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    height: 35px;
}

.custom-date-range-picker .calendar-container .calendar .boxes .box.day {
    font-weight: 600;
}

.custom-date-range-picker .calendar-container .calendar .boxes .box.date {
    cursor: pointer;
}

.custom-date-range-picker
    .calendar-container
    .calendar
    .boxes
    .box.date.selected {
    background-color: #efefef;
}

.custom-date-range-picker .calendar-container .calendar .boxes .box.date:hover {
    background-color: #f7f7f7;
}
